<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <receiver
            android:name=".domain.receiver.CallNotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="co.id.fadlurahmanfdev.ANSWER_CALL_NOTIFICATION" />
                <action android:name="co.id.fadlurahmanfdev.DECLINE_CALL_NOTIFICATION" />
                <action android:name="co.id.fadlurahmanfdev.HANG_UP_CALL_NOTIFICATION" />
            </intent-filter>
        </receiver>
        <service
            android:name=".domain.service.CallNotificationPlayer"
            android:exported="false">
            <intent-filter>
                <action android:name="co.id.fadlurahmanfdev.SHOW_INCOMING_CALL_NOTIFICATION" />
                <action android:name="co.id.fadlurahmanfdev.ANSWER_CALL_NOTIFICATION" />
                <action android:name="co.id.fadlurahmanfdev.DECLINE_CALL_NOTIFICATION" />
                <action android:name="co.id.fadlurahmanfdev.HANG_UP_CALL_NOTIFICATION" />
            </intent-filter>
        </service>
    </application>

</manifest>